*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Verdana;
}
.gwrap{
    width: 420px;
    height: 400px;
    margin: 50px auto;
    /* background: #ccc; */
}
.glogo{
    height: 25px;
    position: relative;
    left: 173px;
}
.entry{
  width: 420px;
  height: 70px;
  margin: auto auto;
}
.entry span{
    margin: auto 160px ;
    line-height: 2em;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}
.advice{
    font-size: 14px;
    margin: auto 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.fild{
width: 360px;
height: 55px;
border: solid 2px #5D80B6;
border-radius: 5px;
margin: auto auto;
display: block;
}
  
.ftext{
width: 180px;
height: 20px;
background: #fff;
color: #5D80B6;
position: relative;
top: 8px;
left: 35px;
padding: 4px;
font-size: 12px;
font-family: verdana;
}
.remind{
font-family: Verdana;
font-size: 12px;
color: #5D80B6;
margin: 30px 28px;
font-weight: 700;
display: inline-block;
}
.remind2{
    font-family: Verdana;
    font-size: 12px;
    color: #afafb2;
    font-weight: 400;
    display: inline-block;
    padding: 28px 28px;
    }
    .remind3{
        font-family: Verdana;
        font-size: 12px;
        color: #5D80B6;
        margin: 28px 3px;
        font-weight: 700;
        }
    .next{
height: 60px;
display: flex;
justify-content: space-between;
font-family: Verdana;
margin: 25px 0;;
    }
    #crt{
        width: 130px;
        height: 36px;
        font-size: 13px;
        color: #5D80B6;
        
        line-height: 1.7em;
        font-weight: bold;
        margin: 2px 18px;
        cursor: pointer;
        border: none;  
        border-radius: 5px;
        background: none;
    }
    #crt:hover{
background: #F6FAFE;
    }
    .nxt{
width: 90px;
height: 37px;
border-radius: 5px;
background: #1373ea;
color: #fff;
border: none;
cursor: pointer;
    }
.nxt:hover{
    box-shadow: 0 1px 1px #5D80B6;
    
}



/* Слайдер */

#slider{
width: 452px;
height: 520px;
margin: 90px auto;
overflow: hidden;
}

#polosa {
    height: 500px;
    width: 920px;
    position: relative;
    top: 10px;
    left: 0;
    transition: all ease 1s;
}
#goo{
    width: 450px;
    height: 500px;
    border: solid 1px #ccc;
    border-radius: 8px; 
    float: left;
}
/* Проверка пароля */
#goo2{
    width: 450px;
    height: 500px;
    border: solid 1px #ccc;
    border-radius: 8px; 
    float: left;
}
.greet{
    font-size: 22px;
    font-weight: 400;
    position: relative;
    left: 100px;
    padding: 12px 0 0 0;
}
.entry2{
    width: 420px;
    height: 70px;
    margin: auto auto;
    padding: 0 0 30px 0;
  }
  .entry span{
      margin: auto 160px;
      line-height: 2em;
      font-size: 22px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 100;
  }
 .mini{
     width: 175px;
     height: 30px;
     position: relative;
     border: solid 1px #ccc;
     border-radius: 20px;
     left: 115px;
     bottom: 55px;
 } 
 .next2{
    height: 60px;
    display: flex;
    justify-content: space-between;
    font-family: Verdana;
    margin: 40px 0;;
        }