@font-face {
	font-family: Acrom-bold; 
	src:url(../fonts/acrom800.otf);
}
@font-face {
	font-family: Acrom; 
	src:url(../fonts/acrom400.otf);
}
*{
margin: 0;
padding: 0;
}
body{
    font-family: Acrom;
}
header{
min-height: 450px;
background: url(../images/header_bg.png);
background-size: cover;
}
.top-line{
	height:85px;
	background: rgba(3,4,5,.5);
	padding: 40px;
}
.wrap{
	width: 1024px;
	margin: 0 auto;
  
}
.logo{
	left:80px;
	margin-top: 20px;
}
.phone{
	float:right;
	color:#fff;
	font-size:23px;
	font-weight:500;
	font-family:Acrom;
	margin-right: 25px;
}
.callback{
    /* Style for "<Rectangle" */
height: 35px;
font-family: Acrom;
font-size: 9px;
color:#fff;
border: solid 2px #018dc4;
border-radius: 20px;
padding: 5px 10px;
background: none;	
margin-top: 25px;
margin-left: 20px;
cursor:pointer;
float:right;
letter-spacing: 0.23px;
}
.main{
    text-align: center;
}
.wrap h1{
color: #ffffff;
line-height: 52px;
text-transform: uppercase;
font-size: 37px;
}
.wrap h2{
    /* Style for "Самый прос" */
color: #00a9ea;
font-size: 19px;
line-height: 26px;
}
.register{
    /* Style for "зарегистри" */
/* Style for "<Rectangle" */
width: 201px;
height: 45px;
background: #ee6e22;
border-radius: 15px;
border: none;
margin-top: 80px;
color: #ffffff;
font-size: 10px;
font-weight: 700;
text-transform: uppercase;
/* Text style for "зарегистри" */
letter-spacing: 0.25px;
}
.callback2{
width: 160px;
height: 36px;
float: none;
margin: 40px 0 134px 0;
}
.callback2 img{
width: 16px;
}
.callback2 span{
position: relative;
top: -5px;
padding: 0 10px;
}

.divider{
height: 85px;
background: #ee6e22;
margin: 0 auto;
}
.man{
    margin: 50px 0 90px 0;
}
.info{
float: right;
margin: 50px 0 90px 0;
width: 50%;
}
.info h3{
font-family: Acrom-bold;
font-size: 42px;
line-height: 52px;
letter-spacing: 1.05px;
right: 20px;
}
.info ul{
margin-top: 50px;
margin-left: 23px;
}
.list{
color: #00aaeb;
font-family: Acrom-bold;
font-size: 24px;
line-height: 49px;
text-transform: uppercase;
letter-spacing: 0.6px;
margin-left: 20px;
top: 2px; ;
position: relative;
}
.comment{
height: 760px;
top: 0;
background: url(../images/bg_2.png);
background-size: cover;
padding: 80px 0 120px 0;
}
.comment img{
	border-radius: 100%;
	position: relative;
	left: 50px;
	top: 20px;
}
.info p{
	margin: 20px auto;
	color: #fff;
	padding: 10px;
	font-family: Acrom;
	font-size: 19px;
	font-weight: 400;
	line-height: 26px;
}
.info h3{
	color: #00a9ea;
	font-family: Acrom-bold;
	font-size: 35px;
	line-height: 26px;
	padding: 10px;
}











