*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header{
width: 100%;
height: 130px;
background: #f6f6f6;
top:0;
position: fixed;
}
main{
width: 100%;
height: 100%;
background: #f6f6f6;
position: fixed;
display: flex;
}
.top{
width: 100%;
height: 60px;
background: lightblue;
position: fixed;
}
.left{
width:15%;
height: 405px;
border: solid 1px lightblue;
border-radius: 5px;
margin: auto;
padding: 5px;
}
.right{
width:15%;
height: 405px;
border: solid 1px lightblue;
border-radius: 5px;
margin: auto;
}

.content{
width: 70%;
height: 100%;
background: snow;
margin: auto;
overflow: scroll;
margin-top: 100px;
background: #f6f6f6;
}
article{
width: 90%;
min-height: 600px;
border: 2px solid lightblue;
border-radius: 10px;
margin: 10px auto;
}
footer{
width: 100%;
height: 60px;
background: lightblue;
position: absolute;
}

/*Header animation*/
#slider {
width: 100%;
height: 130px;
background: #f6f6f6;
position: relative;
top: 0;
overflow: hidden;
}

#dozer {
position: absolute;
left:0;
top: 0;
transition: left 8s ease-out;
z-index: 2;
}

#code {
width: 100%;
height: 130px;
background-image: url(../images/code.jpg);
background-size: 100%;
position: absolute;
left:0;
top:0;
transition: left 28s ease;
z-index: 3;
}

/* ccslesson2.html */
.container{
width: 100%;
display: flex;
justify-content: space-around;
margin-top: 130px;
}
aside{
width: 20%;
min-height: 600px;
background: lightgray;
}

section{
	width: 60%;
	min-height: 600px;
	background: lightgray;
	padding: 5px;
	}
	#left{
width: 95%;
height: 200px;
margin: 20px auto;
font-size: 24px;
padding: 5px;
box-shadow: 0 2px 2px 2px #ccc;
	}

	#right{
		width: 95%;
		height: 200px;
		margin: 20px auto;
		font-size: 24px;
		padding: 5px;
		box-shadow: 0 2px 2px 2px #ccc;
			}
#left ul{
	list-style: none;
	margin: auto 40px;
	line-height: 1.5em;
}
#left a{
	text-decoration: none;
	color: darkblue;
}
#right ul{
	list-style: none;
	margin: auto 40px;
	line-height: 1.5em;
}
#right a{
	text-decoration: none;
	color: darkblue;
}
aside h3{
	display: block;
	margin-top: 20px;
}

header h1{
	top: 75px;
	margin-left: 50%;
	left: -300px;
	display: inline-block;
	position: absolute;
	opacity: 1;
	transition: opacity 2s ease-in-out;
}

